.navigation {
  background-color: var(--secondary-color);
  position: absolute;
  width: 100%;
  left: 0;
  top: 5.2em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 0.5em;
}

.navigation--open {
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navigation {
    background-color: var(--secondary-background-color);
    position: unset;
    width: auto;
    opacity: 1;
    display: block;
  }
}

.navigation__ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5em;
  list-style-type: none;
}

@media only screen and (min-width: 600px) {
  .navigation__ul {
    flex-direction: row;
  }
}

.navigation__link,
.navigation__link--active {
  color: var(--primary-color);
  background-color: var(--secondary-background-color);
  display: block;
  font-weight: 600;
  text-decoration: none;
  padding: 1em 0;
  text-align: center;
}

.navigation__link--active {
  color: var(--secondary-color);
}

@media only screen and (min-width: 600px) {
  .navigation__link,
  .navigation__link--active {
    padding: 1em;
    background-color: var(--secondary-background-color);
  }
}

.navigation__link:hover {
  color: var(--secondary-color);
  transition: all 500ms ease-in-out;
}
